// Global Header: Styles for the website header.

@use "forwards" as *;

.GlobalHeader {
	display: block;
	text-align: center;
	font-weight: bold;
	font-family: 'Oxanium', cursive;
	margin: 1em 0;
	@include font-size(72px);
	@include color-schemes using ($color) {
		text-shadow: 0 0.15em 0.35em color-shift($color, 20%);
	}
}